// global
body {
	width: 100%;
	user-select: none;
	background-color: var(--white-color);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100svh;
	@include layout-width;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

[class$='page'] {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.inner {
	padding-right: var(--inner);
	padding-left: var(--inner);
}

.layout-width {
	@include layout-width;
}
