// global
body {
	width: 100%;
	user-select: none;
	background-color: var(--white-color);
}

main {
	flex: 1;
}

.inner {
	padding-right: var(--inner);
	padding-left: var(--inner);
}

.layout-width {
	min-width: var(--layout-min-width);
	max-width: var(--layout-max-width);
	margin: 0 auto;
}
